body {
  font-family: "Open Sans", sans-serif;
  line-height: 1.6;
}
.strike {
  text-decoration: line-through;
}
.add-todo-input,
.edit-todo-input {
  outline: none;
}

.add-todo-input:focus,
.edit-todo-input:focus {
  border: none !important;
  box-shadow: none !important;
}

.view-opt-label,
.date-label {
  font-size: 0.8rem;
}

.edit-todo-input {
  font-size: 1.7rem !important;
}

.edit-todo-input.editing {
  font-size: 1.7rem !important;
  background-color: #fff;
}

.edit-todo-input.read-only {
  font-size: 1.5rem;
  color: gray;
  background-color: transparent;
  border: none;
}

.todo-actions {
  visibility: hidden !important;
  background-color: transparent;
}

.todo-item:hover .todo-actions {
  visibility: visible !important;
}
@media (max-width: 768px) {
  .h1 {
    font-size: 2rem;
    margin-top: 1.5rem;
  }
  .check {
    font-size: 1rem;
  }
  .m-extra {
    padding: 0 !important;
  }
  .form-extra {
    overflow: scroll !important;
    font-size: 18px !important;
    padding: 0 !important;
  }
}
